$primaryFont: 'Hind Madurai';
$secondaryFont: 'Ubuntu';
$logoFont: 'Raleway';
$accentColor: #3949ab;
$darkColor: #202020;
$lightColor: #fff;
$primaryTextColor: $lightColor;
$secondaryTextColor: $darkColor;
$accentTextColor: #c62828;