$primaryFont: 'Hind Madurai';
$secondaryFont: 'Ubuntu';
$logoFont: 'Raleway';
$accentColor: #3949ab;
$darkColor: #202020;
$primaryTextColor: #fff;
$secondaryTextColor: #202020;
$accentTextColor: #c62828;